.tm-header { background-color: #FED966; }
.tm-nav-item:hover .tm-nav-link, .tm-nav-item.active .tm-nav-link { color: #FED966; }

.tm-site-header, .tm-nav { margin: 0; }
.byline { font-weight: bold; font-style: italic; color: #3D4F32; letter-spacing: 3px; text-align: center; }
.footer-message { font-size: 70%; line-height: 1.3; text-align: justify; }

.amadeus-credits img { vertical-align: middle!important; } /* TODO: how to change in theme */

.tm-main blockquote { margin-left: 10px; border-left: 6px solid #666; padding: 15px; }

.hidden { display: none; }
.img-fluid { width: 100%; }
.img-margin { margin: 10px 0 10px 0; }

div.footer-content { background-color: #FED966; margin: 20px 30px 20px 30px; }
.text-v-center { text-align: left; vertical-align: middle; font-size: xx-large; }
.text-v-center em { font-size: 85%; }

.quote-above-banner { padding: 8px; background-color: #B6D2E4; font-size: small; padding-left: 50px; margin: 15px; }
.quote-above-banner a { font-weight: bold; color: #A327A2; }
.toggle-more { padding: 6px; background-color: #26A0DA; }
.more { border-top: 1px solid #333; }

.video-bgd { background-color: #000; }
/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
